{% extends 'base.html.twig' %}
{% trans_default_domain 'messages' %}
{% block title %}{{ 'Settings'|trans }}{% endblock %}
{% block body %}
    <h1>{{ 'Settings'|trans }}</h1>
    <!-- Add your settings content here -->
{% endblock %}
